/* =============
    Demo
============= */
#logo-container{
    display: grid;
    grid-template-columns: auto 70% auto;
    grid-template-areas: ". logo .";

    >div{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: logo;
        

        svg{
            width: 100% ;
            overflow: hidden;
            
        }
    }
}

// #openAnimation{
//     visibility: hidden;

// #content{
//     display: grid;
//     grid-template-columns: auto 50% auto;
//     grid-template-areas: ". clip .";

//     >clipPath{
//         grid-area: clip;
//     }
// }


